{% extends "base.html" %}

{% set active = "index" %}

{% block title %}Доллания — виртуальное государство{% endblock %}
{% block description %}Доллания — виртуальное ролевое государство, созданное в ВКонтакте 6 июня 2024 года.{% endblock %}

{% block content %}

	<h1>Доллания</h1>

	<div class="hatnote">
		<span class="hatnote-icon">↗</span>
		Эта статья — о виртуальном государстве.
	</div>

	<aside class="infobox">
		<div class="infobox-top">
			<div class="infobox-above">Виртуальное государство</div>
			<div class="infobox-title">Доллания</div>
			<div class="infobox-subheader">Республика Доллания</div>
		</div>

		<div class="infobox-image">
			<img class="image-flag" src="/static/img/flag.png" alt="Флаг Доллании" width="200" />
			<div class="infobox-caption">Государственный флаг</div>
		</div>

		<table class="infobox-table">
			<tbody>
				<tr><th>Полное название</th><td>Республика Доллания</td></tr>
				<tr><th>Дата основания</th><td>06.06.2024</td></tr>
				<tr><th>Основатель</th><td>Dosia Dosfun</td></tr>
				<tr><th>Язык(и)</th><td>русский</td></tr>
				<tr class="infobox-header-row"><th colspan="2">Государство</th></tr>
				<tr><th>Форма правления</th><td>республика</td></tr>
				<tr><th>Форма устройства</th><td>унитарное государство</td></tr>
				<tr><th>Политический режим</th><td>авторитаризм с элементами демократии</td></tr>
				<tr><th>Президент</th><td>Богдан Бояльский</td></tr>
				<tr><th>Канцлер (Председатель Правительства)</th><td>crimsonsunbeam</td></tr>
				<tr><th>Спикер (Председатель Парламента)</th><td>Артемий Зимец</td></tr>
				<tr><th>Государственная религия</th><td>светское государство</td></tr>
				<tr class="infobox-header-row"><th colspan="2">Население</th></tr>
				<tr><th>Численность</th><td>491 подписчик</td></tr>
				<tr><th>Этнохороним</th><td>долланнец, долланка, долланцы</td></tr>
				<tr class="infobox-header-row"><th colspan="2">Прочее</th></tr>
				<tr><th>Место расположения</th><td>ВКонтакте</td></tr>
				<tr><th>Интернет-домен</th><td><a href="https://dollania.run.place">dollania.run.place</a></td></tr>
				<tr><th>Часовой пояс</th><td>UTC+3</td></tr>
			</tbody>
		</table>
	</aside>

	<p class="lead">
		<b>Доллания</b>, или <b>Республика Доллания</b> (англ. <i>Dollania</i>, или <i>Republic of Dollania</i>) — виртуальное ролевое государство,
		созданное в социальной сети ВКонтакте 6 июня 2024 года.
	</p>

	<p>
		Доллания представлена исключительно в социальной сети ВКонтакте по тегу
		<a href="https://vk.ru/dollania">@dollania</a>, а также на собственном сайте.
		Любые другие группы, каналы или страницы, использующие наше название и выдающие себя
		за Долланию, являются фейковыми.
	</p>

	<h2>Разделы</h2>

	<ul class="page-list">
		<li>
			<a href="/history">История Доллании</a>
			<span class="page-list__hint">от основания до наших дней</span>
		</li>
		<li>
			<a href="/symbols">Символика</a>
			<span class="page-list__hint">флаг, герб, гимн</span>
		</li>
		<li>
			<a href="/links">Ссылки</a>
			<span class="page-list__hint">официальные ресурсы и контакты</span>
		</li>
	</ul>

	<div class="ambox ambox-notice">
		<div class="ambox-icon">ℹ</div>
		<div class="ambox-content">
			<p>
				Чтобы получить паспорт гражданина, напишите боту в личные сообщения
				<a href="https://vk.com/gim226164215">сообщества ВКонтакте</a>.
				Бот выдаст UUID и ссылку на страницу паспорта.
			</p>
		</div>
	</div>{% endblock %}